@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  flex: 1;
}

/**
 * Container
 */

.ri-container {
  @apply container mx-auto px-4;
}

/**
 * Colors
 */

/* .bg-primary {
  background-color: theme("colors.primary");
}
.bg-primary-dark {
  background-color: theme("colors.primary-dark");
}
.bg-secondary {
  background-color: theme("colors.secondary");
}
.bg-secondary-dark {
  background-color: theme("colors.secondary-dark");
}

.text-primary {
  color: theme("colors.primary");
}
.text-primary-dark {
  color: theme("colors.primary-dark");
}
.text-secondary {
  color: theme("colors.secondary");
}
.text-secondary-dark {
  color: theme("colors.secondary-dark");
} */

/**
 * Button 
 */

.btn {
  @apply block rounded-lg shadow-md transition-all ease-in-out duration-300 text-nowrap px-4 py-2 lg:px-8 lg:py-4;
}

/**
 * Image
 */

img {
  max-width: unset;
  height: unset;
}

/**
 * Clerk
 */

.cl-formFieldInput:focus {
  box-shadow: theme("colors.primary") 0px 0px 0px 1px;
}

.cl-formButtonPrimary {
  background-color: theme("colors.primary");
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: theme("colors.primary-dark");
}

.cl-footerActionLink,
.cl-footerActionLink:hover,
.cl-footerActionLink:focus,
.cl-footerActionLink:active {
  color: theme("colors.primary");
}
