@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/**
 * Button 
 */

.btn {
  @apply block text-nowrap px-5 py-3 lg:px-8 lg:py-4;
}

.btn-primary {
  @apply rounded-lg shadow-md transition-all ease-in-out duration-300;
  color: theme("colors.white");
  background-color: theme("colors.primary");
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: theme("colors.primary-dark");
}

/**
 * Image
 */

img {
  max-width: unset;
  height: unset;
}
